.product-btn{
    background-color: #A78364;
    padding: 5px;
    border: 1px solid #A78364;
    padding-left: 10px;
    padding-right: 10px;
    width: 170px;
}
.product-image-container{
    height: 170px;
    width: 170px;
}
.product-header{
    margin-top: 10px;
    margin-bottom: 10px;

}
.product-price{
    margin-bottom: 20px;
    color: #A78364;
}
.product-container{
    position: absolute;
    
    margin: 50px;
    top: 65%;
    padding: 20px;
    width: 100%;
    
}
.image-container{
    
    
}